/* Custom modifies for general style of adminLTE */

.main-footer {
    bottom:0px !important;
    background-color: #000;
    color: #fff;
}

/* mouse over sub-menu expand */
ul.sidebar-menu li.treeview:hover > ul.treeview-menu{
    display: block;
    margin: 0;
}

/* remove box frame */
.box-no-frame { border-top:0px !important; box-shadow:none !important; }
/* box loading overlay */
.box .overlay { display:none; }
/* footer notify message */
.box .footer-notify-message { display:none; color: #333; font-size: 14px; margin: 0 5px; padding: 6px; }

/* conversation panel */
		span {
            /*height: 100%;*/
            /*width: 100%;*/
            /*overflow: hidden;
            padding: 0;
            margin: 0;
            box-sizing: border-box;*/
        }


        .fa-2x {
            font-size: 1.5em;
        }

        .app {
            position: relative;
            overflow: hidden;
            top: 0px;
            height: calc(100% - 38px);
            margin: auto;
            padding: 0;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
        }

        .app-one {
            /*background-color: #f7f7f7;
            height: 100%;
            overflow: hidden;*/
            margin: 0;
           /* padding: 0;            */
            /*box-shadow: 0 0 0 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);*/
            /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
        }

        .side {
            padding: 0;
            margin: 0;
            height: 100%;
			/*border-left: 1px solid rgba(0, 0, 0, .08);*/
        }

        .side-one {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            position: relative;
            display: block;
            top: 0;
        }

        .side-two {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            position: relative;
            top: -100%;
            left: -100%;
            -webkit-transition: left 0.3s ease;
            transition: left 0.3s ease;
        }



        .heading {
            padding: 10px 16px 10px 15px;
            margin: 0;
            height: 50px;
            width: 100%;
            /*background-color: #eee;*/
            z-index: 1000;
        }

        .heading-avatar {
            padding: 0;
            cursor: pointer;
        }

        .heading-avatar-icon img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        .heading-name {
            padding: 0 !important;
            cursor: pointer;
        }

        .heading-name-meta {
            font-weight: 700;
            font-size: 100%;
            padding: 5px;
            padding-bottom: 0;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
            display: block;
        }

        .heading-online {
            display: none;
            padding: 0 5px;
            font-size: 12px;
            color: #93918f;
        }

        .heading-compose {
            padding: 0;
        }

        .heading-compose i {
            text-align: center;
            padding: 5px;
            color: #93918f;
            cursor: pointer;
        }

        .heading-dot {
            padding: 0;
            margin-left: 10px;
        }

        .heading-dot i {
            text-align: right;
            padding: 5px;
            color: #93918f;
            cursor: pointer;
        }

        .searchBox {
            padding: 0 !important;
            margin: 0 !important;
            height: 35px;
            /*width: 100%;*/
        }

        .searchBox-inner {
            height: 100%;
            width: 100%;
            padding: 10px !important;
            background-color: #fbfbfb;
        }
        /*#searchBox-inner input {
            box-shadow: none;
        }*/

        .searchBox-inner input:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        .sideBar {
            padding: 0 !important;
            margin: 0 !important;
            overflow-y: auto;
            border: 1px solid #f7f7f7;
            height: calc(100% - 120px);
        }

        .sideBar-body {
            position: relative;
            padding: 10px !important;
/*          border-bottom: 1px solid #f7f7f7;
            background-color:  #d5d8dc;*/
            border-bottom: 1px solid #dcdfe0;
            background-color:  #ffffff;
            height: 100px;
            margin: 0 !important;
            cursor: pointer;
        }

        .sideBar-body-unread {
            position: relative;
            padding: 10px !important;
/*          border-bottom: 1px solid #dcdfe0;
            background-color:  #ffffff;*/
            border-bottom: 1px solid #f7f7f7;
            background-color:  #d5d8dc;
            height: 100px;
            margin: 0 !important;
            cursor: pointer;
        }

        .sideBar-body-interacting {
            position: relative;
            padding: 10px !important;
            border-bottom: 1px solid #dcdfe0;
            background-color: rgba(152, 216, 244, 0.247059);
            height: 100px;
            margin: 0 !important;
            cursor: pointer;
            border-left: 3px solid #1e2e38;
        }

        .sideBar-body:hover, .sideBar-body-interacting:hover, .sideBar-body-unread:hover {
            background-color: #fcf3cf;
        }

        .sideBar-avatar {
            text-align: center;
            padding: 0 !important;
        }

        .avatar-icon img, object {
            border-radius: 50%;
            height: 30px;
            width: 30px;
        }

        .sideBar-head{
            padding-left:30px;
             margin-right: 5px;
        }

        .sideBar-main {
           margin-left: 20px;
           margin-right: 5px;
        }

        .sideBar-main .row {
            padding: 0 !important;
            margin: 0 !important;
        }

        .sideBar-name {
            padding: 0px !important;
            margin-top: 5px;
        }

        .name-meta {
            font-size: 100%;
            padding: 1% !important;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #000;
            /*padding-top:5px;*/
        }

        .name-meta-unread {
            font-size: 100%;
            padding: 1% !important;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
            overflow: hidden;
            font-weight: bold;
            /*padding-top:5px;*/
        }

        .sideBar-content{

        }

        .sideBar-content p{
            width: 100%;
            /*word-wrap: break-word;
            text-overflow: ellipsis;
            width: 100px;*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sideBar-content-unread p{
            font-weight: bold;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sideBar-time {
            padding: 10px 10px 10px 10px !important;
        }

        .sideBar-icon{
            padding: 10px 10px 10px 10px !important;
        }

        .time-meta,.social_icon {
            text-align: right;
            font-size: 12px;
            padding: 1% !important;
            color: rgba(0, 0, 0, .4);
            vertical-align: baseline;
        }
        /*New Message*/

        .newMessage {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            position: relative;
            left: -100%;
        }

        .newMessage-heading {
            padding: 10px 16px 10px 15px !important;
            margin: 0 !important;
            height: 100px;
            width: 100%;
            background-color: #00bfa5;
            z-index: 1001;
        }

        .newMessage-main {
            padding: 10px 16px 0 15px !important;
            margin: 0 !important;
            height: 60px;
            margin-top: 30px !important;
            width: 100%;
            z-index: 1001;
            color: #fff;
        }

        .newMessage-title {
            font-size: 18px;
            font-weight: 700;
            padding: 10px 5px !important;
        }

        .newMessage-back {
            text-align: center;
            vertical-align: baseline;
            padding: 12px 5px !important;
            display: block;
            cursor: pointer;
        }

        .newMessage-back i {
            margin: auto !important;
        }

        .composeBox {
            padding: 0 !important;
            margin: 0 !important;
            height: 60px;
            width: 100%;
        }

        .composeBox-inner {
            height: 100%;
            width: 100%;
            padding: 10px !important;
            background-color: #fbfbfb;
        }

        .composeBox-inner input:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        .compose-sideBar {
            padding: 0 !important;
            margin: 0 !important;
            background-color: #fff;
            overflow-y: auto;
            border: 1px solid #f7f7f7;
            height: calc(100% - 160px);
        }
        /*Conversation*/

        .conversation {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            /*width: 100%;*/
            /*border-left: 1px solid rgba(0, 0, 0, .08);*/
            /*overflow-y: auto;*/
        }

        .message {
            padding: 0 !important;
            margin: 0 !important;
            background: #dfdfdf  none repeat scroll 0 0;
            background-size: cover;
            overflow-y: auto;
            border: 1px solid #dfdfdf;
            height: calc(100% - 180px);
        }

        .message-previous {
            margin: 0 !important;
            padding: 0 !important;
            height: auto;
            width: 100%;
        }

        .previous {
            font-size: 15px;
            text-align: center;
            padding: 10px !important;
            cursor: pointer;
        }

        .previous a {
            text-decoration: none;
            font-weight: 700;
        }

        .message-body {
            margin: 0 !important;
            padding: 0 !important;
            width: auto;
            height: auto;
        }

        .message-main-receiver {
            /*padding: 10px 20px;*/
            max-width: 60%;
            padding: 6px 11px 12px 18px !important;
        }

        .message-main-sender {
            padding: 6px 11px 12px 18px !important;
            margin-left: 40% !important;
            max-width: 60%;
        }

        .message-text {
            margin: 0 !important;
            padding: 5px !important;
            word-wrap: break-word;
            font-weight: 200;
            font-size: 14px;
            padding-bottom: 0 !important;
        }

        .message-time {
            margin: 0 !important;
            /*margin-left: 50px !important;*/
            font-size: 12px;
            text-align: right;
            color: #333;
        }

        .receiver .message-text{
            color: #fff;
        }

        .message-main-receiver .message-time{
            color: #eee;
        }

        /*.message-main-sender .message-time{
            margin-left: 0px;
        }*/
        .sender .message-text{
            color: #7f7f7f;
        }

        .receiver {
            width: auto !important;
            padding: 4px 10px 7px !important;
            border-radius: 0 10px 10px 10px;
            background: #1684b2;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            word-wrap: break-word;
            display: inline-block;
        }

        .sender {
            float: right;
            width: auto !important;
            background: #fff none repeat scroll 0 0;
            border-radius: 10px 0 10px 10px;
            padding: 4px 10px 7px !important;
            font-size: 12px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
            display: inline-block;
            word-wrap: break-word;
        }
        /*Reply*/

        .reply {
            height: 110px;
            width: 100%;
            background-color: #f5f1ee;
            padding: 10px 5px 10px 5px !important;
            margin: 0 !important;
            z-index: 1000;
        }

        .reply-emojis,.reply-picture,.reply-film,.reply-files,.reply-location {
            padding: 5px !important;
        }

        .reply-emojis i,.reply-picture i,.reply-film i,.reply-files i,.reply-location i {
            text-align: center;
            padding: 5px 5px 5px 5px !important;
            color: #93918f;
            cursor: pointer;
        }

        .reply-send {
            padding: 5px !important;
        }

        .reply-send i {
            text-align: center;
            padding: 5px !important;
            color: #93918f;
            cursor: pointer;
        }

        .reply-main {
            padding: 2px 5px !important;
        }

        .reply-main textarea {
            width: 100%;
            resize: none;
            overflow: hidden;
            padding: 5px !important;
            outline: none;
            border: none;
            text-indent: 0px !important;
            box-shadow: none;
            height: 100%;
            font-size: 16px;
        }

        .reply-main textarea:focus {
            outline: none;
            border: none;
            text-indent: 5px;
            box-shadow: none;
        }



/*kmh*/


.text_must{
    color: #000 !important;
	padding-right:5px;
    cursor: pointer;
}

.show_count{
    color: #ff0000 !important;
     font-weight: bold;
	 padding-right:10px;
	 cursor:pointer;
}
.small_text{
	font-size:3px;
}
.center{
	padding-top:10px;
}

.dropdown .text_must{
    color: #000 !important;
	padding-right:5px;
}

.dropdown .show_count{
    color: #ff0000 !important;
     font-weight: bold;
}

.heading .searchBox-inner {
    width: 50%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

.green_dot{
    color: green;
    font-size: 10px;
}

.gray_dot{
    color: gray;
    font-size: 10px;
}


.rcorners {
    border-radius: 15px;
    border: 1px solid #1684b2;
	margin-top:10px;
	background:#eee none repeat scroll 0 0;
	padding:10px 25px 10px 20px;
}

.card_container{
	background:#fff;
	margin:0px 0 10px 0px;
	padding:0px 10px 0px 10px;
	width:100%;
	height:100%;
}

.card_Name{
	font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    font-weight: bold;
}

.card_ct{
	font-weight:bold;
	text-align: center !important;
	border-radius: 5px;
	background:#f9b820 none repeat scroll 0 0;
}

.card_text{
	width:90%;
	padding:15px 5px 15px 5px;

}

#insert_reply{
	margin-left:20px;
}

/*message_box*/
.popup-box-on {
        display: block !important;
}

.popup-box .popup-head .popup-head-right {
        margin: 11px 7px 0;

}

.popup-box .popup-head {
        clear: both;
        color: #fff;
        display: inline-table;
        font-size: 21px;
        padding: 7px 10px;
        width: 100%;
        font-family: Oswald;
}
.popup-head-right .btn-group {
        display: inline-flex;
        margin: 0 8px 0 0;
        vertical-align: top !important;
}

.AiChat_Customer_Support {
    font-size: 35px;
    font-family: Roboto_Light;
    color: #fff;
    text-align: justifyAll;
    margin-left: 20px;
    margin-top: -5px;
    -moz-transform: matrix( 0.55220314002524,0,0,0.55220314002524,0,0);
    -webkit-transform: matrix( 0.55220314002524,0,0,0.55220314002524,0,0);
    -ms-transform: matrix( 0.55220314002524,0,0,0.55220314002524,0,0);
    position: absolute;
}


.popup-head-left img {
        width: 47px;
        position: absolute;
        left: 10px;
        top: 5px;
}
.popup-box {
     background-color: #1F8CEB;
        /*border: 1px solid #b0b0b0;*/
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0.598px 1.5px 8.91px 0.91px rgba(35, 31, 32, 0.43);
        display: none;
        /*position: absolute;*/
        bottom: 85px;
        height: 550px;
        position: fixed;
        right: 70px;
        width: 370px;
        font-family: 'Open Sans', sans-serif;
}
.popup-box .popup-messages {
        background: #fff none repeat scroll 0 0;
        /*border-radius: 5px 5px 5px 5px;*/
        height: 440px;
        overflow: auto;
}

.direct-chat-messages_pannel {
        overflow: auto;
        padding: 10px;
        transform: translate(0px, 0px);
        padding-bottom: 10px;

}

.popup-messages {
    margin-left: 10px;
}

.popup-messages .direct-chat-name_pannel {
        font-size: 15px;
        font-weight: 600;
        margin: 0 13px 0 13px !important;
        color: #1F8CEB;
        opacity: 0.9;
}

.popup-messages .direct-chat-timestamp {
        display: block;
        margin: 0 13px 13px 13px !important;
        /*width: 100%;*/
}

.text_right{
    text-align: right;
    float: right !important;
}
.popup-messages .direct-chat-title {
        display: block;
        width: 100%;
}

.popup-messages .direct-chat-info {
        color: #d3d3d3;
        display: block;
        font-size: 12px;
        width: calc(100%-45px);
}

.popup-messages .direct-chat-content {
        display: inline-block;
        width: calc(100% - 45px);
}

.popup-messages  .direct-chat-img {
        border: 1px solid #fff;
        /*background: #3f9684  none repeat scroll 0 0;*/
        border-radius: 50%;
        float: left;
        height: 35px;
        width: 35px;
        margin-right:10px;
        /*margin: -21px 0 0;*/
}



.direct-chat-text_pannel {
        background: #1F8CEB none repeat scroll 0 0;
        /*border: 1px solid #d2d6de;*/
        border-radius: 5px 5px 5px 5px;
        color: #fff;
        margin: 5px 0 0 0;
        padding: 5px 10px;
        position: relative;
        word-break: keep-all;
        max-width: 80%;
}

.direct-chat-text_pannel a:hover{
    text-decoration: underline;
}

.direct-chat-text_pannel_first::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #1F8CEB transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}


.direct-chat-download_pannel {
    background: #1F8CEB none repeat scroll 0 0;
    border: 1px solid #1F8CEB;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    /*margin: 5px 0 0 13px;*/
    padding: 5px 10px;
    position: relative;
    word-break: keep-all;
    max-width: 80%;
}

.direct-chat-download_pannel_first::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #1F8CEB transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}


.popup-messages .user-name {
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 0 49px !important;
        color: #1F8CEB;
        opacity: 0.9;
}
.popup-box .popup-messages {
    background: #cfd8dc none repeat scroll 0 0;
    /*border-radius: 5px 5px 5px 5px;*/
    height: 440px;
    overflow: auto;
}

.user-chat-text {
    background: #ffffff none repeat scroll 0 0;
    /*border: 1px solid #d2d6de;*/
    border-radius:  5px 5px 5px 5px;
    color: #7f7f7f;
    margin: 5px 13px 0 0;
    padding: 5px 10px;
    position: relative;
    word-break: keep-all;
    max-width: 80%;


    /* Addaed for long link by cluspedia*/
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.user-chat-text a:hover{
    text-decoration: underline;
}

.user-chat-text_first::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #ffffff;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 10px;
    width: 0;
}

.user-chat-download {
    background: #fff none repeat scroll 0 0;
    /*border: 1px solid #d2d6de;*/
    border-radius:  5px 5px 5px 5px;
    color: #7f7f7f;
    margin: 5px 13px 0 0;
    padding: 5px 10px;
    position: relative;
    word-break: keep-all;
    max-width: 80%;
}

.user-chat-download_first::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 6px;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 10px;
    width: 0;
}


.popup-messages-footer {
        background: #fff none repeat scroll 0 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 47px;
        padding-top: 10px;
}

/*typing*/
.typing-indicator {
    background-color: #E6E7ED !important;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 5px;
    display: table !important;
    margin: 0 auto;
    position: relative !important;
    animation: 2s bulge infinite ease-out;
    span {
        height: 5px;
        width: 5px;
        float: left;
        margin: 0 1px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

.option_main_container{
    height: 38px;
    width: 420px;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    margin-top: 5px;
}

.option_container{
    height: 38px;
    margin-left: 0px;
    overflow: visible;
    margin-top:0px;
    float: left;
    margin-right: -30000px;
}

.option_container span{
    border: 1.5px solid #1F8CEB;
    /*float:left;*/
    text-align: center !important;
    border-radius:15px;
    padding:5px 10px 5px 10px;
    margin:3px 3px 3px 3px;
    display:inline-block;
    background: #ffffff;
}

.option_container span:hover{
    /*border: 1.5px solid #dfe9ef;*/
    color:#fff !important;
    /*float:left;*/
/*    text-align: center !important;
    border-radius: 15px;
    padding:5px 10px 5px 10px;
    margin:3px 3px 3px 3px;*/
    background:#ece9e9;

}

.option_leftRs {
    text-align: center;
    position: absolute;
    margin-top: 4px;
    left: 0;
    width: 30px;
    height: 30px;
}

.option_rightRs {
    text-align: center;
    position: absolute;
    margin-top: 4px;
    right: 0;
    width: 30px;
    height: 30px;
}

/*.option_container span:hover a{
    text-decoration: none;
    color:#3f4c53;
    cursor: pointer;
}

.option_container span a{
    color:#428bca;
}*/

/*.option_container{
    width:60%;
    margin: 10px 13px 0 40%;
    float: right;
    display: inline-block;
    text-align: right;
    /*word-break: break-all;

}

.option_container div{
    border: 1px solid #1F8CEB;
    /*float:left;
    display: inline-block;
    font-weight:bold;
    text-align: center !important;
    border-radius:15px;
    padding:5px 10px 5px 10px;
    margin:3px 3px 3px 3px;
	background: #ffffff;
}

.option_container div:hover{
    color:#fff !important;
    /*float:right;
    background:#1F8CEB;

}

.option_container div:hover a, .direct-chat-card .quiz:hover a{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}

.option_container div a{
    color:#1F8CEB;
}*/


.direct-chat-card{
    border: 1px solid #1F8CEB;
    background: #ffffff;
    width: 50%;
    /*font-weight:bold;*/
    /*text-align: center !important;*/
    border-radius:10px;
    margin:5px 13px 0px 50px;
    align-content: center;
}

.card_header{
    border-radius:10px 10px 0px 0px;
    border-bottom:1px solid #1F8CEB;
    padding: 5px 10px 5px 10px;
    width: 100%;
    color: #fff;
    background: #1F8CEB;
    word-wrap:break-word;
}

.card_header a{
    color:#fff;
    text-decoration:underline;
}

.direct-chat-card .quiz{
    border: 1px solid #1F8CEB;
    width: 80%;
    font-weight:bold;
    text-align: center !important;
    border-radius:5px;
    padding:5px 0 5px 0;
    margin: 10px 10% 10px 10%;
}

.direct-chat-card .quiz:hover{
    border: 1px solid #1F8CEB;
    color:#fff !important;
    width: 80%;
    font-weight:bold;
    text-align: center !important;
    border-radius: 5px;
    padding:5px 0 5px 0;
    margin: 10px 10% 10px 10%;
    background:#1F8CEB;
    cursor: pointer;
}

.photo_box{

    border-radius:5px;
    margin: 5px 13px 0 50px;
	max-width: 50%;
	min-width: 30%;
}

.photo{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius:10px;
}

.direct-chat-msg{
    width: 100%;
    margin-bottom: 0px !important;
}

/*icon_color*/

.fa-skype{
    color: #12A5F4;
}

.fa-facebook-official{
    color: #3b5998;
}

.fa-weixin{
    color: #7bb32e;
}

.fa-globe{
    color: #79c687;
}

.fa-whatsapp{
    color: #34af23;
}

.leftRs {
    text-align: center;
    position: absolute;
    margin-top: 35%;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.rightRs {
    text-align: center;
    position: absolute;
    margin-top: 35%;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel_MainContainer{
    height: 320px;
    width: 440px;
    overflow: hidden;
    position: relative;
    margin-left: 50px;
    margin-right: 10px;
}

.carousel_Container{
    clear: both;
    width: 1578px;
    /*height: 300px;*/
    margin-left: 0px;
    overflow: visible;
    position: absolute;

}

.carousel_box{
    float: left;
    background: #fff;
    /*height: 300px;*/
    width: 215px;
    margin: 5px 10px 0 0px;
    border: 1px solid #dfe9ef;
    border-radius: 10px;
    align-content: center;
}

.carousel_buttons div{
    border-top: 1px solid #D6DBDF;
    text-align: center !important;
    padding:5px 0 5px 0;
}

.carousel_buttons div:hover{
    border-top: 1px solid #dfe9ef;
    color:#3f4c53 !important;
    text-align: center !important;
    padding:5px 0 5px 0;
    background:#dfe9ef;
    cursor: pointer;
}

.item img{
    border-radius: 10px 10px 0px 0px;
}

.Photo_Content{
    width: 80%;
    margin: 10px 10px 10px 10%;
    text-align: center !important;
    background: #fff;
}

.Photo_Content .url{
    font-size: 9px;
    color:gray;
    cursor: pointer;
    text-decoration: none;
}

.Photo_Content span{
    font-size: 17px;
    color: #1F8CEB;
}

/*dropdown list Profilepic*/
.dropdownImg{
    padding: 3px 12px;
}
.dropdownImg img{
    width: 26px;
    margin-right: 1em;
}

ul.userList li a{
    padding: 10px 20px;
}

ul.userList li a img{
    height: 26px;
    width: 26px;
    margin-right: 1em;
}

mark{
    background-color: #FFFF00 !important;
}



@media screen and ( min-height: 1024px ){
   .conversation_container{
        min-height: 1024px;
        /*background: blue !important;*/
    }
    .container_left,.container_right{
        min-height: 900px !important;
    }

    .popup-messages{
        /*min-height: 833px !important;*/
        min-height: 783px !important;
    }
}

@media screen and ( max-height: 1024px ){
   .conversation_container{
        min-height: 700px;
        background: red !important;
    }
    
    .container_left,.container_right{
        min-height: 650px !important;
    }

    .popup-messages{
         /*min-height: 588px !important;*/
         min-height: 538px !important;
    }
}


@media screen and ( max-height: 800px ){
   .conversation_container{
        min-height: 600px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 540px !important;
    }

    .popup-messages{
         /*min-height: 478px !important;*/
         min-height: 428px !important;
    }
}

@media screen and ( max-height: 750px ){
   .conversation_container{
        min-height: 550px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 490px !important;
    }

    .popup-messages{
         /*min-height: 428px !important;*/
         min-height: 378px !important;
    }
}

@media screen and ( max-height: 700px ){
   .conversation_container{
        min-height: 512px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 452px !important;
    }

    .popup-messages{
         /*min-height: 378px !important;*/
         min-height: 340px !important;
    }
}

@media screen and ( max-height: 650px ){
   .conversation_container{
        min-height: 450px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 390px !important;
    }

    .popup-messages{
         /*min-height: 328px !important;*/
         max-height: 277px !important;
         min-height: 277px !important;
    }
}

@media screen and ( max-height: 600px ){
   .conversation_container{
        min-height: 400px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 340px !important;
    }

    .popup-messages{
         /*min-height: 278px !important;*/
         max-height: 227px !important;
         min-height: 227px !important;
    }
}

@media screen and ( max-height: 550px ){
   .conversation_container{
        min-height: 350px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 290px !important;
    }

    .popup-messages{
         /*min-height: 228px !important;*/
        max-height: 177px !important;
         min-height: 177px !important;
    }
}

@media screen and ( max-height: 500px ){
   .conversation_container{
        min-height: 300px;
        background: gray !important;
    }
     .container_left,.container_right{
        min-height: 240px !important;
    }

    .popup-messages{
         /*min-height: 178px !important;*/
          max-height: 127px !important;
         min-height: 127px !important;
    }
}






/*typing*/
.typing-indicator {
    $ti-color-bg: #E6E7ED;
    background-color: $ti-color-bg;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 2px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    span {
        height: 5px;
        width: 5px;c
        float: left;
        margin: 0 1px;
        background-color: #9E9EA1;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * .3333s);
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  display: table;
  margin: 0 auto;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}

.typing-indicator span {
  height: 7px;
  width: 7px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

/* for Video */
.video-box{
    border-radius:5px;
    margin: 5px 13px 0 50px;
    max-width: 50%;
    min-width: 30%;
}

.video{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius:10px;
    border-color: #dfe9ef;
    border-style: solid;
    border-width: thin;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}


.image-lightbox {
    /** Position and style */
    position: fixed;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);

}

.image-lightbox .largeImage {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.image-lightbox-close{
    margin-top: 2%;
    right:5%;
    position: absolute;
    color: white;
    width: 50px;
    font-size: 2em;
    cursor: pointer;
}

.image-lightbox-iframe-close{
    margin: 5px 10px 0 0;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.image-lightbox-title{
    height: 50px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.image-lightbox-title .companyicon{
    width: 30px;
    margin:10px 0 0 10px;
    float:left;
}

.image-lightbox-title .companyname{
    font-size: 20px;
    font-family: Roboto_Light;
    margin: 10px auto;
    display: inline-block;
}

.image-lightbox .closeImage {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.email-box{
    width: 300px;
    height: 130px;
    border-radius: 5px;
    border:1px solid #dadfe3;
    margin: 10px 10px 10px 50px;
    background-color: #fff;
}

.email-box span{
    margin: 10px 10% 0 10%;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

.email-box input.email{
    width: 80%;
    display: block;
    margin: 10px 10% 10px 10%;
    text-align: left;
    border-radius: 5px;
    border:1px solid #dadfe3;
    padding: 10px;
}
